/* body {

    position: relative;
} */

#container {

    display: flex;
}

#traffic {

    margin-top: 80px;
    margin-left: 60px;
    background-color: black;
    width: 150px;   
    height: 280px;
    

}

#lights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}


#red {
    
    margin-top: 20px;
    margin-left: 45px; 
    background-color: red;
    width: 60px;   
    height: 60px; 
    border-radius: 50%;
    
}

#red:hover {

    transform: scale(1.5);
    box-shadow: 0 0 20px 5px rgb(189, 47, 47);
    
}

#yellow {
    
    margin-top: 20px;
    margin-left: 45px; 
    background-color: yellow;
    width: 60px;   
    height: 60px; 
    border-radius: 50%;
    
}

#yellow:hover {

    transform: scale(1.5);
    box-shadow: 0 0 20px 5px rgb(170, 170, 57);
    
}

#green {
    
    margin-top: 20px;
    margin-left: 45px; 
    background-color: green;
    width: 60px;   
    height: 60px; 
    border-radius: 50%;
    
}

#green:hover {

    transform: scale(1.5);
    box-shadow: 0 0 20px 5px rgb(56, 185, 56);
}

#stick {

    color: red;
    margin-top: 40px;
    margin-left: 55px;
    width: 40px;
    height: 200px;
    background-color: black;
}

#boy {

    width: 900px;
    position: relative;
    top: 150px;
    left: 20px;
}

#gif{
    
    position: absolute;
    display: flex;
    bottom: 0;
    align-items: flex-end;
    animation: identifier 8s infinite;

}

@keyframes identifier {
    
    0% {left: 0;}
    50% {

        left: 100%;
        transform: rotateY(180deg);
    }
    100% {left: 0;}
}